[Unit]
Description=Pi-hole Domain Alert Service
After=network.target

[Service]
WorkingDirectory=/opt/pihole-bot/
ExecStart=/opt/pihole-bot/alert.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target